.box{
  background-color: #213140;
  height: 1000px;
  width:500px;
  margin: 20px auto;
  padding: 20px 50px;
  color: white;

}
.box h1{
	text-align:center;
}
.box form{
	margin-left:90px;
}
.add input{
  margin-bottom: 10px;
  height:30px;
  width:300px;
}
.add textarea{
    height: 150px;
    width: 300px;
}
.box button{
	margin-top:30px;
	margin-left:100px;
	height: 30px;
	width:100px;
	text-align:center;
	font-weight:bold;
	
}
.radio{
	margin-top:10px;
}
.radio input{
	margin-top:20px;
}
.imageup input{
	margin-left: 10px;
}