.box{
	background-color:#213140;
	margin:20px auto;
	padding:20px 0px;
	width:500px;
	color: white;
}
.box h1{
	padding-top:10px;
	text-align:center;
}
.add{
	margin:10px 130px;
}
.add input{
	margin-bottom:10px;
	width:240px;
	height:30px;
}
.add select{
	margin-bottom:10px;
	width:240px;
	height:30px;
}
.add button{
	height:30px;
	width:100px;
	margin-top: 10px;
	margin-bottom: 20px;
	margin-left:70px;
}