

.cover{
}
.cover img {width:100%;}
.middle{}
.highlighter{
	 display: block;
		margin-left: auto;
	  margin-right: auto;
	  in
	}
.hbox{
     background: none repeat scroll 0 0 #213140;
    color: white;
    float: left;
    height: 150px;
    margin: 16px 68px;
    text-align: center;
    width: 309px;
	}
.hbox h1{
	padding: 49px 0;
}
.boxin{
	background:black;
	text-align:center;
}
.content{
	margin: 10px 75px;
	padding-bottom:10px;
}
.content h1{
	font-size: 60px;
    text-align: center;
	padding-top:30px;
	}
.content p{
	font-size:15px;
	text-align:justify;
	padding-top:30px;
	 line-height: 1.6;
	}
.content h2{
	color:red;
}

