.form{
	background-color:#21262A;
	color:white;
	margin:100px auto;
	width:500px;
	height:700px;
	padding: 10px 50px;
}
.form h1{
		text-align:center;
}
.pan{
	margin-left:100px;
}
.pan input{
	height:30px;
	width:300px;
	margin-bottom:10px;
}
.pan button{
	font-weight: bold;
	margin-top: 20px;
	margin-left:100px;
	height:30px;
	width:100px;
}
.underbut{
	margin-top:20px;
	text-align:center;
	font-weight:bold;
}
.underbut a{
	font-size:20px;
	color:#02FFDE;
	text-decoration:none;
	
}